* {
  margin: 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
}

.item-card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 12px;
  margin: 20px;
  margin-bottom: 80px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.item-image {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.item-info {
  padding: 22px;
}

.item-category {
  text-transform: uppercase;
  letter-spacing: 6px;
  font-size: 12px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 10px;
}

h2 {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.item-desc {
  color: hsl(228, 12%, 48%);
  font-size: 17px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 25px;
}

.prices {
  display: flex;
  margin-bottom: 20px;
}

.curr-price {
  font-family: "Fraunces", serif;
  font-size: 36px;
  font-weight: bold;
  color: hsl(158, 36%, 37%);
  margin-right: 30px;
}

.prev-price {
  color: hsl(228, 12%, 48%);
  font-size: 15px;
  font-weight: 500;
  text-decoration: line-through;
}

.add-cart-btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: hsl(158, 36%, 37%);
  transition: background-color;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 15px;
  gap: 10px;
}

.add-cart-btn:hover {
  background-color: hsl(158, 42%, 18%);
}
